name: Waka Readme

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *"

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          TIME_RANGE: all_time
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
          CODE_LANG: rust
          SHOW_TIME: true 
          SHOW_TOTAL: true 
          SHOW_MASKED_TIME: false 
          STOP_AT_OTHER: true 
          LANG_COUNT: 5
          IGNORED_LANGUAGES: JSON,YAML,Markdown,Blade Template, Bash

