name: Waka Readme

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *"

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          SHOW_LANGUAGE: true
          SHOW_TOTAL_CODE_TIME: true
          SHOW_UPDATED_DATE: true

          IGNORED_LANGUAGES: "JSON,YAML,Markdown,Bash,Blade Template"
