name: Waka Readme

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *"

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          TIME_RANGE: all_time
          LANG_COUNT: 5

          IGNORED_LANGUAGES: "JSON,YAML,Markdown,Bash,Blade Template"

          SHOW_TIME: true
          SHOW_TOTAL: true
          SHOW_MASKED_TIME: false

          CODE_LANG: rust
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
