name: Waka Readme

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *"

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          BADGE_STYLE: for-the-badge
          SHOW_TOTAL_CODE_TIME: true
          SHOW_PROJECTS: false
          SHOW_LANGUAGE: true
          SHOW_LOC_CHART: false
          SHOW_UPDATED_DATE: false
          SHOW_SHORT_INFO: false
          SHOW_DAYS_OF_WEEK: false
          SHOW_COMMIT: false
          SYMBOL_VERSION: 2
          IGNORED_LANGUAGES: "JSON,YAML,Markdown,Bash,Blade Template"
